/*colors*/

$white : #fff;
$card-border: #e4e9ee;
$menu-bg: #1f2229;
$input-placeholder: #bec6cf;
$menu-dis: #2a2d37;
$form-text: #8494ab;
$number-color: #373c43;
$card-bg: #f7f8f8;
$menulasts: #191c24;
$form-title: #383d43;
$disabledMenuLi: #808592;
$foter-text: #7f8591;
$button-bg: #005abf;
$body-border:#0d0e10;
$body-bg:#101114;


$AR: 'Arial',sans-serif;
$OB: 'Open Sans', sans-serif;